h1 {
    color: slateblue;
}
img {
    width: 400px;
}
div {
    width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#thirdDiv {
    height: 600px;
    background: grey;
    padding: 50px;
    border: 5px dashed blueviolet;
}
#spanID {
    font-size: 18px;
    margin: 50px;
}